/* Navbar Styling */
.topnav ul {
    list-style-type: none;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #0d1f1c;
}
.topnav ul li {
    display: inline-block;
}
.topnav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 12px 16px;
    border-radius: 4px;
}
.topnav ul li a:hover {
    background-color: #9bdcdc41;
    color: #ffffff;
}
.topnav ul li a.active {
    background-color: #73b4b4;
}

/* Home Styling */
.bio-text {
    padding-right: 50px;
}
.bio-photo img {
    width: 400px;
    border-radius: 20px;
}

/* General Styling */
.main-container {
    padding: 0 25px;
}
.main-content {
    display: flex;
}