{% extends "base.html" %}

{% block content %}
<div class="main-container">
    <h1>About Me!</h1>
    <div class="main-content">
        <div class="bio-text">
            <h2>Jonathan Wu</h2>
            <h3>Data Scientist I @ Sibel Health</h3>
            <p>Jonathan Wu is currently working as a Data Scientist at Sibel Health with a mission to deliver Better Health Data for All®.
                He has a bachelor's and master's of science in Biomedical Engineering (BME) from Johns Hopkins University.
                He is passionate about all things healthcare and innovation, and hopes to use his skills to make an impact on medical care and public health.
            </p>
        </div>
        <div class="bio-photo">
            <img src="{{ url_for('static', filename='images/profile_pic.png') }}" alt="Jonathan's Photo">
        </div>
    </div>
</div>
{% endblock %}
