{% extends "base.html" %}

{% block content %}
<div class="main-container">
    <h1>Current Projects</h1>
    <div class="main-content">
        <div>
            <h2>Module 1: Web Applications</h2>
            <p>
                <strong>GitHub Repository:</strong> 
                <a href="https://github.com/jwu146/jhu_software_concepts/tree/main/module_1" target="_blank" rel="noopener noreferrer">JHU Software Concepts Module 1</a>
            </p>
            <div>
                <p>
                    After exploring what web applications are, understanding their underlying principles, and learning how to build, test, and deploy 
                    them both locally and using cloud services like AWS, this first project challenges us to build our own website.
                    This site will serve as a portfolio to showcase the upcoming works that we will be accomplishing in this course.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}